div.hd-container {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    left: 0;
    padding: 0 24px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

div.hd-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 100%;
    max-width: 1128px;
}

@media (max-width: 768px) {
    div.hd-content {
        padding: 1.5% 0;
    }
}

span.hd-logo {
    margin-right: 8px;
    font-size: 0px;
}

div.hd-search {
    opacity: 1;
    flex-grow: 1;
    position: relative;
}

div.hd-search>div {
    max-width: 280px;
}

div.hd-search>div input {
    border: none;
    box-shadow: none;
    background-color: #eef3f8;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.9);
    width: 218px;
    padding: 0 8px 0 40px;
    line-height: 1.75;
    font-weight: 400;
    font-size: 14px;
    height: 34px;
    border-color: #dce6f1;
    vertical-align: text-top;
}

div.hd-search-icon {
    width: 40px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 2px;
    border-radius: 0 2px 2px 0;
    margin: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.hd-nav {
    margin-left: auto;
    display: block;
}

@media (max-width: 768px) {
    nav.hd-nav {
        position: fixed;
        left: 0;
        bottom: 0;
        background: white;
        width: 100%;
    }
}

ul.hd-nav-list-wrap {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}

ul.hd-nav-list-wrap .hd-active span:after {
    content: "";
    transform: scaleX(1);
    border-bottom: 2px solid var(--white, #fff);
    bottom: 0;
    left: 0;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.9);
}

li.hd-nav-list {
    display: flex;
    align-items: center;
}

li.hd-nav-list a {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    min-height: 52px;
    min-width: 80px;
    position: relative;
    text-decoration: none;
}

li.hd-nav-list a span {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    li.hd-nav-list {
        min-width: 70px;
    }
}

li.hd-nav-list:hover a span,
li.hd-nav-list:active a span {
    color: rgba(0, 0, 0, 0.9);
}

div.hd-sign-out {
    position: absolute;
    top: 45px;
    background: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    transition-duration: 167ms;
    text-align: center;
    display: none;
}

.hd-user a>svg {
    width: 24px;
    border-radius: 50%;
}

.hd-user a>img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.hd-user span {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hd-user:hover .hd-sign-out {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #c0c0c0;
}

.hd-user:hover .hd-sign-out:hover {
    background-color: #c9c9c9;
    cursor: pointer;
}

.hd-work {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 550px) {
    div.hd-sign-out {
        top: -45px;
    }
}